@{
    ViewData["Title"] = "Home Page";
}

<!-- View Video (Row) -->
<div class="row gy-0 m-0 p-0 bg-black">
    
    <!-- Heading Video Column -->
    <div class="col-12 text-center m-0 p-0">
        <video class="border border-dark rounded-bottom" id="videoPlayer" style="width: 100%;" autoplay muted loop>
            <source src="~/videos/mainvideo01.mp4#t=.5" type="video/mp4">
            Your browser does not support the video tag.
        </video>

         
    </div><!-- End Heading Video Column-->

</div><!-- End View Video (Row) -->

<div class="container row bg-black m-0 pb-2 pb-lg-4 gx-0 gy-2 gy-lg-3 mx-auto text-center">

    <div class="col-4">
        <img style="max-width: 300px;" src="~/gallery/brucecarta/bc coastal/brucecarta.png" />
    </div>
    <div class="col-8 pt-sm-0 pt-lg-4">
        <p class="text-white fs-4">
            Bruce Carta is your go-to real estate professional with Coastal Properties. Specializing in the vibrant areas of St. Petersburg and Tampa, Florida, Bruce is dedicated to helping clients navigate the dynamic real estate market. With a keen understanding of both residential and commercial properties, he empowers buyers and sellers to make informed decisions. Located in Vandalia, Bruce Carta is committed to delivering exceptional service and insightful market trends to ensure your real estate journey is successful.
        </p>
    </div>
   
    
</div>

<!-- Buyers, Sellers, and Relocate -->
<div class="container row bg-black m-0 pb-2 pb-lg-4 gx-0 gy-2 gy-lg-3 mx-auto text-center">

    <!-- buyers -->
    <div class="col d-flex flex-column justify-content-between">
        <a href="https://www.brucecarta.com/buyers"><img style="border:solid; border-color: black; border-radius:8px; max-width:  360px; max-height: 240px; overflow:clip;" src="~/images/pageimages/image03.png"></a>
    </div>

    <!-- sellers -->
    <div class="col d-flex flex-column justify-content-between">
        <a href="https://www.brucecarta.com/sellers"><img style="border:solid; border-color: black; border-radius:8px; max-width: 360px; max-height: 240px; overflow:clip;" src="~/images/pageimages/image02.png"></a>
    </div>

    <!-- relocation -->
    <div class="col d-flex flex-column justify-content-between">
        <a href="https://www.brucecarta.com/relocation"><img style="border:solid; border-color: black; border-radius:8px; max-width: 360px; max-height: 240px; overflow:clip;" src="~/images/pageimages/image01.png"></a>
    </div>

</div>

<!-- Tampa Bay Communities Heading -->
<div class="xcontainer row m-0 p-0 gx-0 mx-auto text-center">
    <div class="col-12 text-center bg-gold">
        <h3 class="py-3 text-white">Tampa Bay Communities</h3>
    </div>
</div>

<!-- Tampa Bay Communities Row -->
<div class="xcontainer row m-0 p-0 gx-0 gy-2 gy-lg-3 mx-auto text-center bg-gold">

    <!-- Clearwater -->
    <div class="col d-flex flex-column justify-content-between">
        <a href="https://www.brucecarta.com/areas/clearwater"><img style="max-width:400px" src="~/images/pageimages/image04.png"></a>
    </div>

    <!-- St. Petersburg -->
    <div class="col d-flex flex-column justify-content-between text-black">
        <a href="https://www.brucecarta.com/areas/st-petersburg"><img style="max-width:400px;" src="~/images/pageimages/image05.png"></a>
    </div>

    <!-- Tampa -->
    <div class="col d-flex flex-column justify-content-between">
        <a href="https://www.brucecarta.com/areas/tampa"><img style="max-width:400px" src="~/images/pageimages/image06.png"></a>
    </div>

</div>

<!-- All Communities Link -->
<div class="xcontainer row m-0 p-0 gx-0 mx-auto text-center">
    <div class="col-12 text-center bg-gold">
        <a href="https://www.brucecarta.com/areas"><h4 class="py-3">View All</h4></a>
    </div>
</div>