<!-- Shared Galleries -->
@{
    // Gallery Folder Name (location of gallery = wwwroot/{galleryFolder})
    string galleryFolder = "gallery";

    var viewName = ViewData["ViewName"]?.ToString(); 
    
    var folders = Directory.GetDirectories(System.IO.Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot/{galleryFolder}"))
                       .Select(folder => System.IO.Path.GetFileName(folder))
                       .Where(folder => !folder.StartsWith("_"))
                       .ToList();

    
    // Get the backgroundImage path
    string backgroundImage = $"{galleryFolder}/background.webp"; // default
    string[] imageExtensions = { ".jpg", ".png", ".webp", ".svg" }; // possible extensions

    // Loop through possible extensions
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"{galleryFolder}/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {
            backgroundImage = imagePath;
            break;
        }
    }
}
<style>
    body {
        background-color: black;
    }
</style>

<div class="text-center mt-3">
    <h2 class="text-white">@viewName</h2>
</div>

<div class="container">
    <div class="row gx-0 gx-lg-4 justify-content-center">

        <div id="BruceCarta" class="col-3 mx-4 bg-green-lighter text-center p-0 border border-dark rounded">
            <a id="BruceCarta-link" class="menu-link text-dark" href="/BruceCarta">BruceCarta</a>
        </div>
        <div id="OfficeView" class="col-3 mx-4 bg-green-lighter text-center p-0 border border-dark rounded">
            <a id="OfficeView-link" class="menu-link text-dark" href="/OfficeView">OfficeView</a>
        </div>
    </div>
</div>

<!-- Replaces the background-image -->
@* <script>
    $("body").css("background-image", "url('../@Url.Content(backgroundImage)')");
</script> *@

